# JCB general
algorithm: 3dvar
algorithm_path: "{{ PARMlandda }}/jedi/jcb-algorithms"
app_path_algorithm: "{{ PARMlandda }}/jedi/jcb-gdas/algorithm/snow"
app_path_model: "{{ PARMlandda }}/jedi/jcb-gdas/model/snow"
app_path_observations: "{{ PARMlandda }}/jedi/jcb-gdas/observations/snow"
app_path_observation_chronicle: "{{ PARMlandda }}/jedi/jcb-gdas/observation_chronicle/snow"

# Time window
window_begin: "{{ snow_window_begin }}"
window_length: "{{ snow_window_length }}"
bound_to_include: begin

# Geometry
snow_fv3jedi_files_path: "{{ snow_fv3jedi_files_path }}"
snow_layout_x: {{ snow_layout_x }}
snow_layout_y: {{ snow_layout_y }}
snow_npx_anl: {{ snow_npx_anl }}
snow_npy_anl: {{ snow_npy_anl }}
snow_npz_anl: {{ snow_npz_anl }}
snow_npx_ges: {{ snow_npx_ges }}
snow_npy_ges: {{ snow_npy_ges }}
snow_npz_ges: {{ snow_npz_ges }}
snow_orog_files_path: "{{ FIXlandda }}/FV3_fix_tiled/C{{ res }}"
snow_orog_prefix: "C{{ res }}_oro_data"

# Minimization
analysis_variables: [totalSnowDepth]
final_diagnostics_departures: anlmob
minimizer: DRPCG
number_of_outer_loops: 1

# Background
snow_background_path: "{{ snow_bkg_path }}"
snow_background_time_fv3: "{{ snow_bkg_time_fv3 }}"
snow_background_time_iso: "{{ snow_bkg_time_iso }}"
snow_increment_time_fv3: "{{ snow_bkg_time_fv3 }}"
snow_increment_time_iso: "{{ snow_bkg_time_iso }}"

# Background error
snow_bump_data_directory: "{{ DATA }}/berror"

# Observation
observations:
#- adpsfc_snow
- ghcn_snow
#- ims_snow
#- sfcsno
#- snocvr_snow

# GHCN
snow_obsdatain_path: "{{ snow_obsdatain_path }}"
snow_obsdatain_prefix: "{{ snow_obsdatain_prefix }}"
snow_obsdataout_path: "{{ snow_obsdataout_path }}"
snow_obsdataout_prefix: "{{ snow_obsdataout_prefix }}"
snow_obsdataout_suffix: "{{ snow_obsdataout_suffix }}"
observation_from_jcb: {{ obs_from_jcb }}

